h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(136, 135, 63);
    color: floralwhite;
    }

img{
    border-radius: 15px;
    }

 html{
     background-color:cornsilk;
    }
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
